body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(186deg, #45384b, #ddb4ee );
    animation: bodybkg 10ms cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
    background-size: 150% 150%;
}

@keyframes bodybkg {
    from {background-position: 0%;}
    to {background-position: 10%;}
}